<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
                    <h6 class="footer-title-29">Contact Us</h6>
                    <ul>
                        <li>
                            <p>
                                <span class="fa fa-map-marker"></span> Luxury hotel, #32841 block, #221DRS Rental & Paid rooms
                                business, UK.
                            </p>
                        </li>
                        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(90)-532-547-7886</a></li>
                        <li>
                            <a href="mailto:theartiotradingcompany@gmail.com" class="mail">
                                <span class="fa fa-envelope-open-o"></span>
                                theartiotradingcompany@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-sm-0 mt-5">

                    <ul>
                        <h6 class="footer-title-29">Useful Links</h6>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About hotels</a></li>
                        <li><a href="#blogposts"> Blog posts</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Latest from blog</h6>
                    <div class="footer-post mb-4">
                        <a href="#url">Work Passionately</a>
                        <p class="small"><span class="fa fa-clock-o"></span> March 9, 2020</p>
                    </div>
                    <div class="footer-post">
                        <a href="#url">Work Passionately without any hesitation</a>
                        <p class="small"><span class="fa fa-clock-o"></span> March 9, 2020</p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Newsletter </h6>
                    <p>
                        Enter your email and receive the latest news from us.
                        We'll never share your email address
                    </p>

                    <form action="#" class="subscribe" method="post">
                        <input type="email" name="email" placeholder="Your Email Address" required="">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>